<div>
    <div class="detail title">
    <div class="detail date-on-title flex"><h2>{{trip.cityOrigin.date}} - {{trip.cityToVisit.date}}</h2>
    <h2>{{trip.cityOrigin.city}},{{trip.cityOrigin.country}} imageofplane {{trip.cityToVisit.city}},{{trip.cityToVisit.country}}</h2></div>
    <h1>{{trip.title}}</h1>
    <h2>image of {{trip.cityOrigin.transport_type}}</h2>
    <h2>image of {{trip.accommodations.accommodations_type}}</h2>
    </div>
    <p>{{trip.cityOrigin.city}}</p>
    <p>{{trip.cityOrigin.country}}</p>
</div>
<a href="/my-trip/{{trip._id}}/delete"><button>Detele this trip</button> </a>
<a href="/my-trip/{{trip._id}}/edit-my-trip"><button>Edit this trip</button> </a>

