<div>
    <p>{{trip.title}}</p>
    <p>{{trip.cityOrigin.date}}</p>
    <p>{{trip.cityOrigin.city}}</p>
    <p>{{trip.cityOrigin.country}}</p>
</div>
<a href="/my-trip/{{trip._id}}/delete"><button>Detele this trip</button> </a>
<a href="/my-trip/{{trip._id}}/edit-my-trip"><button>Edit this trip</button> </a>

