<div id="all" class="">
    <div id="timeline" class="trips-container start ">
        {{#each trips}}
        <div class="trip-container flex vcenter">
            <div class="left">
                <div class="image-container"><a href="/my-trip/{{this._id}}"><img src="{{this.image}}"
                            id="{{this._id}}"></a></div>
                <div class="title-container"><a href="/my-trip/{{this._id}}">
                        <h3>{{this.title}}</h3>
                    </a></div>
                <div class="destination-container">
                    <h4>{{this.cityOrigin.city}} - {{this.cityToVisit.city}}</h4></a>
                <i id="{{this._id}}" class="fas fa-angle-down"></i>
                </div>
                 
            </div>

        </div>
        {{/each}}

        <div class="trip-container flex vcenter">
            <div class="left">
                <div class="image-container"><a href="/create-a-trip"><img src="/assets/img/default_trip.jpg"></a></div>
                <div class="title-container"><a href="/create-a-trip">
                        <h3>Create a trip !</h3>
                    </a></div>
                <div class="destination-container">
                    <i id="{{this._id}}" class="fas fa-angle-down"></i>
                </div>
            </div>
        </div>

    </div>
    <div id="details" class="flex row is_hidden">
        <div class="details-top flex"></div>
        <h4 class="dates flex"> </h4>
        <h1 class="trip_name flex"></h1>
        <h3 class="place flex"></h3>
        <div class="under_title flex column">
            <div class="acco_box flex">
                <span class="accommodations flex"></span>
                <span class="accommodations_city flex"></span>
            </div>
            <a target="_blank" id="tickets" href=""></a><div class="trans_box flex">
                <span class="transports flex"></span>
            </div>
            <h2 class="price flex"></h2>
        </div>
        {{!-- <div class="line flex">
        <hr id="line" class="flex vcenter"><span class="flex">By </span>
        <span class="flex username">Text</span>
        </div> --}}
        <div class="details-bottom grid off">

            <div id="necessaryThings-box" class="box-detail ">
                <h3>to don't forget</h3>
                <ul id="necessaryThings">
                </ul>
            </div>
            <div id="activities-box" class="box-detail ">
                <h3>activities</h3>
                <ul id="activities">
                </ul>
            </div>
            <div class="box-detail ">
                <h3>notes</h3>
                <p id="notes"></p>
            </div>
        </div>

    </div>


</div>
<div id="image">
    <img id="background" class="" src={{#if trips.image}} {{trips.image}}
        {{else}} "https://images.unsplash.com/photo-1580993123109-63aea48b2807?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80"
        {{/if}}>
</div>
<div id="image">
    <img id="layer" src="./assets/img/layer4.png">

</div>