<form method="post" action="/my-trip/:id/edit" class="trip_form">
    <ul>

    </ul>
    <div class="form-page flex">
        <div class="title">
            <label for="trip_name">My trip</label>
            <input class="input" name="trip_name" type="text" value="{{trip.title}}">
        </div>
        <div class="box-container grid">
            <div class="box flex side-by-side">
                <div class="inside-box origin">
                    <h3>Depart</h3>
                    <label for="dateDepart">When go:</label>
                    <input type="datetime-local" id="dateDepart" name="dateDepart" value="{{trip.cityOrigin.date}}"
                        min="2020-01-07T00:00" max="2050-06-14T00:00">
                    <label for="fromCity">From city :</label>
                    <input class="input" name="fromCity" type="text" value="{{trip.cityOrigin.city}}">
                    <label for="fromCountry">country :</label>
                    <input class="input" name="fromCountry" type="text" value="{{trip.cityOrigin.country}}">

                    <h3>Transport</h3>
                    <fieldset>
                        <legend>Go:</legend>

                        <div>
                            <input type="checkbox" id="plane" value="plane" name="transport_type_go"
                                {{#isChecked "plane" trip.cityOrigin.transport_type}} {{/isChecked}}>
                            <label for="plane">plane</label>
                        </div>

                        <div>
                            <input type="checkbox" id="bus" value="bus" name="transport_type_go"
                                {{#isChecked "bus" trip.cityOrigin.transport_type}} {{/isChecked}}>
                            <label for="bus">bus</label>
                        </div>

                        <div>
                            <input type="checkbox" id="car" value="car" name="transport_type_go"
                                {{#isChecked "car" trip.cityOrigin.transport_type}} {{/isChecked}}>
                            <label for="car">car</label>
                        </div>

                        <div>
                            <input type="checkbox" id="train" value="train" name="transport_type_go"
                                {{#isChecked "train" trip.cityOrigin.transport_type}} {{/isChecked}}>
                            <label for="train">train</label>
                        </div>

                        <div>
                            <input type="checkbox" id="walk" value="walk" name="transport_type_go"
                                {{#isChecked "walk" trip.cityOrigin.transport_type}} {{/isChecked}}>
                            <label for="walk">walk</label>
                        </div>

                        <div>
                            <input type="checkbox" id="motorcycle" value="motorcycle" name="transport_type_go"
                                {{#isChecked "motorcycle" trip.cityOrigin.transport_type}} {{/isChecked}}>
                            <label for="motorcycle">motorcycle</label>
                        </div>

                        <div>
                            <input type="checkbox" id="bike" value="bike" name="transport_type_go"
                                {{#isChecked "bike" trip.cityOrigin.transport_type}} {{/isChecked}}>
                            <label for="bike">bike</label>
                        </div>

                        <div>
                            <input type="checkbox" id="boat" value="boat" name="transport_type_go"
                                {{#isChecked "boat" trip.cityOrigin.transport_type}} {{/isChecked}}>
                            <label for="boat">boat</label>
                        </div>
                    </fieldset>
                    <label id="ticketUrl_go" for="ticketUrl_go">Ticket number</label>
                    <input class="input" name="ticketUrl_go" type="text" value="{{cityOrigin.transportUrl}}">
                    <input class="input" name="ticketUrl_go" type="text" value="{{cityOrigin.transportUrl}}">

                    <label for="ticket_price_go">Price</label>
                    <input class="input" name="ticket_price_go" type="number" value="{{trip.cityOrigin.transport_price}}">

                </div>
                <div class="inside-box to-visit">
                    <h3>To visit</h3>
                    <label for="dateArrive">When back:</label>
                    <input type="datetime-local" id="dateArrive" name="dateArrive" value="{{trip.cityToVisit.date}}"
                        min="2020-01-07T00:00" max="2050-06-14T00:00">
                    <label for="toCity">to :</label>
                    <input class="input" name="toCity" type="text" value="{{trip.cityToVisit.city}}">
                    <label for="toCountry">country :</label>
                    <input class="input" name="toCountry" type="text" value="{{trip.cityToVisit.country}}">
                    <fieldset>
                        <legend>Return:</legend>

                        <div>
                            <input type="checkbox" id="plane" value="plane" name="transport_type_return"
                                {{#isChecked "plane" trip.cityToVisit.transport_type}} {{/isChecked}}>
                            <label for="plane">plane</label>
                        </div>

                        <div>
                            <input type="checkbox" id="bus" value="bus" name="transport_type_return"
                                {{#isChecked "bus" trip.cityToVisit.transport_type}} {{/isChecked}}>
                            <label for="bus">bus</label>
                        </div>

                        <div>
                            <input type="checkbox" id="car" value="car" name="transport_type_return"
                                {{#isChecked "car" trip.cityToVisit.transport_type}} {{/isChecked}}>
                            <label for="car">car</label>
                        </div>

                        <div>
                            <input type="checkbox" id="train" value="train" name="transport_type_return"
                                {{#isChecked "train" trip.cityToVisit.transport_type}} {{/isChecked}}>
                            <label for="train">train</label>
                        </div>

                        <div>
                            <input type="checkbox" id="walk" value="walk" name="transport_type_return"
                                {{#isChecked "walk" trip.cityToVisit.transport_type}} {{/isChecked}}>
                            <label for="walk">walk</label>
                        </div>

                        <div>
                            <input type="checkbox" id="motorcycle" value="motorcycle" name="transport_type_return"
                                {{#isChecked "motorcycle" trip.cityToVisit.transport_type}} {{/isChecked}}>
                            <label for="motorcycle">motorcycle</label>
                        </div>

                        <div>
                            <input type="checkbox" id="bike" value="bike" name="transport_type_return"
                                {{#isChecked "bike" trip.cityToVisit.transport_type}} {{/isChecked}}>
                            <label for="bike">bike</label>
                        </div>

                        <div>
                            <input type="checkbox" id="boat" value="boat" name="transport_type_return"
                                {{#isChecked "boat" trip.cityToVisit.transport_type}} {{/isChecked}}>
                            <label for="boat">boat</label>
                        </div>
                    </fieldset>

                    <label id="ticketUrl_return" for="ticketUrl_return">Ticket number</label>
                    <input class="input" name="ticketUrl_return" type="text"
                        value="{{#arrayElement trip.cityToVisit.transportUrl 0}}{{/arrayElement}}">
                    <input class="input" name="ticketUrl_return" type="text"
                        value="{{#arrayElement trip.cityToVisit.transportUrl 1}}{{/arrayElement}}">

                    <label for="ticket_price_return">Price</label>
                    <input class="input" name="ticket_price_return" type="number"
                        value="{{trip.cityToVisit.transport_price}}">

                </div>
            </div>
            <div class="box flex">
                <div class="inside-box accomodation">
                    <h3>Accomodation</h3>

                    <label for="type_accommodation">type of accomodation :</label>
                    <select name="type_accommodation" id="type" class="input">
                        <option value="hotel" {{#compare "hotel" trip.accommodations.accommodations_type operator="==="}}checked{{/compare}}>Hotel</option>
                        <option value="villa" {{#compare "villa" trip.accommodations.accommodations_type operator="==="}}checked{{/compare}}>Villa</option>
                        <option value="tent" {{#compare "tent" trip.accommodations.accommodations_type operator="==="}}checked{{/compare}}>Tent</option>
                        <option value="house" {{#compare "house" trip.accommodations.accommodations_type operator="==="}}checked{{/compare}}>House</option>
                        <option value="private room" {{#compare "private room" trip.accommodations.accommodations_type operator="==="}}checked{{/compare}}>Private room</option>
                        <option value="hostel" {{#compare "hostel" trip.accommodations.accommodations_type operator="==="}}checked{{/compare}}>Hostel</option>
                        <option value="car" {{#compare "car" trip.accommodations.accommodations_type operator="==="}}checked{{/compare}}>Car</option>
                        <option value="beach" {{#compare "beach" trip.accommodations.accommodations_type operator="==="}}checked{{/compare}}>Beach</option>
                    </select>

                    <div class="adress">
                        <h4>Adress</h4>
                        <label for="accommodations_number">number</label>
                        <input class="input" name="accommodations_number" type="number" value="{{trip.accommodations.accommodations_address.number}}">
                        <label for="accommodations_street_type">ex. rue, boulevard, avenue</label>
                        <input class="input" name="accommodations_street_type" type="text" value="{{trip.accommodations.accommodations_address.street}}">
                        <label for="accommodations_street">name of the street</label>
                        <input class="input" name="accommodations_street" type="text" value="{{trip.accommodations.accommodations_address.street_type}}">
                        <label for="accommodations_city">city</label>
                        <input class="input" name="accommodations_city" type="text" value="{{trip.accommodations.accommodations_address.city}}">
                    </div>

                    <label for="accommodations_url">url link</label>
                    <input class="input" name="accommodations_url" type="text" value="{{trip.accommodations.accommodations_url}}">

                    <label for="accommodations_price">Price</label>
                    <input class="input" name="accommodations_price" type="number" value="{{trip.accommodations.accommodations_price}}"><span> EUR</span>


                </div>

            </div>
            <div class="box flex">
                <div class="inside-box activities">
                    <label id="activity" for="activity">activities :</label>
                <input class="input" name="activity" type="text" value="{{#arrayElement trip.activities 0}}{{/arrayElement}}">
                    <input class="input" name="activity" type="text" value="{{#arrayElement trip.activities 1}}{{/arrayElement}}">
                </div>
            </div>
        </div>
        <button>Let your trip begin !</button>
    </div>
</form>